@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span {
    @apply font-gothic;
  }
  ,
  h1 {
    @apply font-gothic;
  }
  ,
  h2 {
    @apply font-gothic;
  }
}

.card:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

html {
  background-color: black;
}

body {
  -webkit-animation: fadein 1.5s;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
    url("/images/paper-brown-texture.jpg");
  color: #f5e7dd;
}

*,
*:focus,
*:hover {
  outline: none;
}

#ig:hover svg#ig {
  fill: url(#rg);
}
#IG svg#IG {
  fill: url(#RG);
}
